body {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

h1 {
  text-align: center;
  grid-column: 1/4;
}

button {
  display: block;
  margin: 0 auto;
  height: 40px;
  width: 100%;
  max-width: 600px;
  grid-column: 1/4;
  border-radius: 5px;
}

#text-display {
  width: 100%;
  text-align: center;
  grid-column: 1/4;
}

#scoreboard-one,
#scoreboard-two {
  background: lightblue;
  padding: 10px;
  margin: 0 5px;
}

#grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  max-width: 600px;
  margin: 40px auto;
  background-color: #cccccc;
}

#grid > div {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 200px;
  border: 2px solid #fff;
}
